#!/bin/bash
# ------------------------------------------------------------
# @Author: sulibao(cn-chengdu)
# @Email: sulibao2003@163.com
# @Last Modified by: sulibao(cn-chengdu)
# @Description: If you have any questions, please contact me at the above email address.
# ------------------------------------------------------------

mysql-connector-python==8.0.28